$primary-color : #444;
$secondary-color : #eece1a;
$show-home-image : true;
$home-image : url(../img/bg.jpg);
$background-opacity : 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            &:after{
                content : '';
                position : absolute;
                top : 0;
                left : 0;
                width : 100%;
                height : 100%;
                background : rgba($primary-color,$background-opacity);
                z-index : -1;
            }
        }
    }
}

// Set Text Color
@function set-text-color ($color) {
    @if(lightness($color) > 40){
        @return #000;
    } @else {
        @return #fff;
    }
}


// Media Query Mixins
@mixin mediaSm {
    // any css we put in inside of here will apply if the screen is 500 pixels or less 
    @media screen and (max-width : 500px) {

        //  I am not going to put my css in here 
        //  i want to be able use this mixin elsewhere 
        // so all we have do here is to put content
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width : 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width : 769px)and (max-width : 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width : 1171px) {
        @content;
    }
}